<script>
    var droneModel = "{{ url_for('static', filename='models/CesiumDrone.gltf', _external=True) }}";
    var droneRoute;
    var kmlUrl;
    var liveDronesUrl;
    {% if drone_route_list is defined %}
        droneRoute = {{ drone_route_list | tojson }};
    {% endif %}
    {% if kml_url is defined %}
        kmlUrl = '{{ kml_url }}';
    {% endif %}
    {% if live_drones_url is defined %}
        liveDronesUrl = '{{ live_drones_url }}';
    {% endif %}
</script>


<div id="cesiumContainer" class="map"></div>
<div class="dropdown">
    <button type ="button" id="dropdownMenu" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
        Options
    </button>
    <div class="dropdown-menu">
        <a id="viewDrone" class="dropdown-item">View drone</a>
        <a id="viewSide" class="dropdown-item">View side</a>
        <a id="viewTopDown" class="dropdown-item">View top down</a>
    </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True) }}">
<link rel="stylesheet" href="http://cesiumjs.org/releases/1.42/Build/Cesium/Widgets/widgets.css">
<script src="http://cesiumjs.org/releases/1.42/Build/Cesium/Cesium.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/map-common.js', _external=True) }}"></script>
{% if drone_route_list is defined %}
    <script src="{{ url_for('static', filename='js/map-historic.js', _external=True) }}"></script>
{% endif %}
{% if live_drones_url is defined %}
    <script src="{{ url_for('static', filename='js/map-live.js', _external=True) }}"></script>
{% endif %}
{% if kml_url is defined %}
    <script src="{{ url_for('static', filename='js/map-no-fly-zones.js', _external=True) }}"></script>
{% endif %}